<!DOCTYPE html>
<html>
<head>
  <title>TodoList</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class='navbar navbar-default' role='navigation'>
    <div class='navbar-header'>
      <a class='navbar-brand' href='/'>TodoApp</a>
    </div>
    <ul class='nav navbar-nav'>
      <% if current_user %>
        <li>
          <%= link_to 'Sign out', session_path, method: 'delete' %>
        </li>
      <% else %>
        <li>
          <%= link_to 'Sign in', new_session_path %>
        </li>
        <li>
          <%= link_to 'Sign up', new_user_path %>
        </li>
      <% end %>
    </ul>
  </nav>


  <div class='container'>

    <% if flash[:notice] %>
      <div class='alert alert-success'>
        <%= flash[:notice] %>
      </div>
    <% end %>

    <% if flash[:error] %>
      <div class='alert alert-danger'>
        <%= flash[:error] %>
      </div>
    <% end %>
    <%= yield %>
  </div>

</body>
</html>
